<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de heroes</h1>
    <ul>
        <% for(let i=0; i<heroes.length; i++){ %>
          <li><a href="./heroes/detalle/id/<%=heroes[i].id %>"><%= heroes[i].nombre %></li>
            <%}%>
    </ul>
</body>
</html>